<div class="promo">
    <div class="promo__slider">     
        <div class="promo__item">
            <div class="promo__content">
                <p class="promo__title">CHƯƠNG TRÌNH KHUYẾN MÃI</p>
                <p class="promo__offer">Mua 1 Tặng 1 Miễn Phí</p>
                <p class="promo__code">CODE: BTSBOGO</p>
                <a href="#" class="promo__shop-button">Mua ngay</a>
            </div>
            <div class="promo__content">
            </div>
        </div>
        <div class="promo__details">
            <span class="promo__detail promo__detail1"> Trả Hàng Miễn Phí</span>
            <span class="promo__detail promo__detail2">24/7 Chăm Sóc Khách Hàng</span>
            <span class="promo__detail promo__detail3">Bảo hiểm thị lực</span>
        </div>
    </div>
</div>

<app-topselling></app-topselling>
<app-product-search></app-product-search>


<div class="promotion">
    <div class="promotion__item">
        <img src="/assets/images/anh1.jpg" alt="Out West" class="promotion__image">
        <h3 class="promotion__title">Out West</h3>
        <p class="promotion__description">Explore uncharted frontiers with trailblazing eyewear.</p>
    </div>
    <div class="promotion__item">
        <img src="/assets/images/anh2.jpg" alt="Glasses On Sale" class="promotion__image">
        <h3 class="promotion__title">Glasses On Sale</h3>
        <p class="promotion__description">Good looking out! Enjoy up to 50% off these eyewear picks.</p>
    </div>
    <div class="promotion__item">
        <img src="/assets/images/anh3.jpg" alt="Fit & Style Quiz" class="promotion__image">
        <h3 class="promotion__title">Fit & Style Quiz</h3>
        <p class="promotion__description">Need some help figuring out which glasses are right for you? Find your perfect pair.</p>
    </div>
</div>

