<!-- admin-sidebar.component.html -->
<aside class="admin__sidebar">
  <h2 class="admin__title">Admin</h2>
  <ul class="admin__nav">
    <li class="admin__nav-item"><a routerLink="/admin" class="admin__nav-link">Dashboard</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/product" class="admin__nav-link">Sản phẩm</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/order" class="admin__nav-link">Đơn hàng</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/user" class="admin__nav-link">Người dùng</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/category" class="admin__nav-link">Danh mục sản phẩm</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/color" class="admin__nav-link">Màu sắc</a></li>
    <li class="admin__nav-item"><a routerLink="/admin/brand" class="admin__nav-link">Thương hiệu</a></li>
  </ul>
</aside>
