@font-face {
    font-family: 'base';
    src: url('/assets/fonts/Mitr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  body {
    font-family: 'base', sans-serif;
    padding: 0px;
    margin: 0px;
  }


  

  
  