<footer class="footer">
    <div class="footer__container">
      <div class="footer__row">
        <div class="footer__follow-us">
          <h5 class="footer__title">Follow Us</h5>
          <ul class="footer__social-list">
            <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="bi bi-youtube"></i> YouTube</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="bi bi-tiktok"></i> TikTok</a></li>
          </ul>
        </div>
        <div class="footer__links">
          <h5 class="footer__title">Shop</h5>
          <ul class="footer__link-list">
            <li><a href="#" class="footer__link">Women's Eyeglasses</a></li>
            <li><a href="#" class="footer__link">Men's Eyeglasses</a></li>
            <li><a href="#" class="footer__link">Affordable Glasses</a></li>
            <li><a href="#" class="footer__link">All Eyeglasses</a></li>
            <li><a href="#" class="footer__link">Blue Light Glasses</a></li>
            <li><a href="#" class="footer__link">Progressive Lenses</a></li>
            <li><a href="#" class="footer__link">All Brands</a></li>
            <li><a href="#" class="footer__link">Non-Prescription Eyeglasses</a></li>
            <li><a href="#" class="footer__link">All Sunglasses</a></li>
            <li><a href="#" class="footer__link">Promotions</a></li>
            <li><a href="#" class="footer__link">Discount Coupons</a></li>
          </ul>
        </div>
        <div class="footer__links">
          <h5 class="footer__title">Tips & Guides</h5>
          <ul class="footer__link-list">
            <li><a href="#" class="footer__link">How to Order Glasses Online</a></li>
            <li><a href="#" class="footer__link">How to Choose Lenses</a></li>
            <li><a href="#" class="footer__link">Frames for Your Face Shape</a></li>
            <li><a href="#" class="footer__link">Eye Care Tips</a></li>
            <li><a href="#" class="footer__link">Help & FAQ</a></li>
            <li><a href="#" class="footer__link">Find an Eye Doctor</a></li>
            <li><a href="#" class="footer__link">Accessibility Statement</a></li>
            <li><a href="#" class="footer__link">Virtual Try-On</a></li>
            <li><a href="#" class="footer__link">Pupillary Distance (PD)</a></li>
            <li><a href="#" class="footer__link">Lens Index</a></li>
            <li><a href="#" class="footer__link">Vision Insurance</a></li>
          </ul>
        </div>
        <div class="footer__links">
          <h5 class="footer__title">About</h5>
          <ul class="footer__link-list">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Press Room</a></li>
            <li><a href="#" class="footer__link">Contact Us</a></li>
            <li><a href="#" class="footer__link">Buy 1 Give 1</a></li>
            <li><a href="#" class="footer__link">Eco-Friendly Frames</a></li>
            <li><a href="#" class="footer__link">Shipping & Returns</a></li>
            <li><a href="#" class="footer__link">Site Map</a></li>
            <li><a href="#" class="footer__link">Our Blog</a></li>
          </ul>
        </div>
        <div class="footer__links">
          <h5 class="footer__title">Our Programs</h5>
          <ul class="footer__link-list">
            <li><a href="#" class="footer__link">Referral Program</a></li>
            <li><a href="#" class="footer__link">Loyalty Program</a></li>
            <li><a href="#" class="footer__link">Affiliate Program</a></li>
            <li><a href="#" class="footer__link">Student Discount</a></li>
          </ul>
        </div>
        <div class="footer__links">
          <h5 class="footer__title">Our Brands</h5>
          <ul class="footer__link-list">
            <li><a href="#" class="footer__link">FramesDirect.com</a></li>
            <li><a href="#" class="footer__link">Readers.com</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__text">&copy; 2006-2024 eyeglassesstore.com</p>
        <ul class="footer__policy-list">
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">Privacy Policy</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">Terms and Conditions of Use</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">Cookie Notice</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">AdChoices</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">California Collection Notice</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">Consumer Health Data Privacy Policy</a></li>
          <li class="footer__policy-item"><a href="#" class="footer__policy-link">Your Privacy Choices</a></li>
        </ul>
      </div>
    </div>
  </footer>
  