<!-- admin.component.html -->
<div class="admin">
  <app-admin-sidebar></app-admin-sidebar>
  
  <div class="data-table">
    <div class="data-table__content">
      <h2 class="data-table__title">Người dùng</h2> 
    <table class="data-table__table">
      <thead class="data-table__thead">
        <tr class="data-table__row">
          <th class="data-table__header">Id</th>
          <th class="data-table__header">Họ và tên</th>
          <th class="data-table__header">Địa chỉ</th>
          <th class="data-table__header">SĐT</th>
          <th class="data-table__header">Tên đăng nhập</th>
          <th class="data-table__header">Email</th>
        </tr>
      </thead>
      <tbody class="data-table__tbody">
        <tr class="data-table__row" *ngFor="let user of paginatedUsers">
          <td class="data-table__cell">{{ user.userId }}</td>
          <td class="data-table__cell">{{ user.fullName }}</td>
          <td class="data-table__cell">{{ user.address }}</td>
          <td class="data-table__cell">{{ user.phoneNumber }}</td>
          <td class="data-table__cell">{{ user.username }}</td>
          <td class="data-table__cell">{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <div class="data-table__pagination">
      <span class="data-table__info">Hiển thị {{ (currentPage - 1) * itemsPerPage + 1 }} đến {{ currentPage * itemsPerPage > users.length ? users.length : currentPage * itemsPerPage }} của {{ users.length }} mục</span>
      <div class="data-table__pages">
        <button class="data-table__button" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Trang trước</button>
        <button class="data-table__button" *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
        <button class="data-table__button" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Trang sau</button>
      </div>
    </div>
  </div>
</div>
